@model IEnumerable<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Hakkımızda</h1>
                    <p class="lead mb-4 text-white">Sizler için Yüzlerce blog yazan ekibimizi yakından tanımak ister misiniz ?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 order-md-2">

                    <img src="@item.AboutImage1" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Biz Kimiz ?</h2>

                    <p>@item.AboutContent1</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Hergün 10 yeni blog yazısı</li>
                        <li>15''den fazla kategori</li>
                        <li>21 farklı dinamik yazar</li>
                        <li>Günlük 4500 tekil okunma</li>
                        <li>27 farklı ülkeden takipçi</li>
                        <li>Sosyal Medyada 320k takipçi</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
@Html.Action("MeetTheTeam", "About")

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var p in Model)
            {
                <div class="col-md-6">
                    <img src="@p.AboutImage2" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h2>Neler Yapıyoruz</h2>

                    <p class="mb-4">@p.AboutContent2</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Film ve Dizi yorumları</li>
                        <li>Gezdiğim ülkelerle ilgili yazılar</li>
                        <li>En son teknoloji  ürünleri</li>
                        <li>Programlama hakkında içerikler</li>
                    </ul>

                </div>
            }
        </div>
    </div>  
</div>
@*@Html.Action("MailSubscribe", "Blog")*@
@Html.Action("Footer", "About")